<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to your Hackathon Skeleton!</h1>
    <p>If you see this, your skeleton app is running.</p>
    <h2>Introduction</h2>
    <p>Hi Ruth and Simon.</p>
    <p>Paul is here to provide support, encouragement and some wisdom but, as a human, he is no match for AI. </p>
    <p> It is AI that will do your bidding during this hackathon. So, follow your <b>interition</b> today.</p>
    <h1> Good luck.</h1>
</body>
</html>
